@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */

@media print {
    /* Regras para impressão aqui se necessário */
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/icon-pc.png);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

/* TELAS GRANDES */
@media screen and (min-width: 1200px) {
    img#phone { display: none; }
    img#tablet { display: block; } /* Note que aqui você colocou o tablet como block para telas grandes, ajuste se necessário */
    img#print { display: none; }
    img#tv { display: none; }
}
