@charset "utf-8";
*{margin: 0px;
 padding: 0px;}

 

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 10px;
    font-variant: small-caps;
}

header > p {
    padding: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: black !important;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}